---
import { getCollection } from 'astro:content';
import Service from './service.astro';
const services = await getCollection('services');

---

<section id="services">
    <h2 class="heading"><span>Services</span></h2>

    <div class="services__content">
      {services.map(service => <Service service={service} />)}
      <!-- <div class="service hiddenSlideLeft">
        <h2 class="service-title">Frontend Development</h2>
        <p class="service-description">
          Building responsive and user-friendly web interfaces using React,
          HTML, and CSS.
        </p>
      </div>
      <div class="service hiddenFadeIn">
        <h2 class="service-title">Backend Development</h2>
        <p class="service-description">
          Creating and maintaining robust server-side applications using
          Node.js and Express.
        </p>
      </div>
      <div class="service hiddenSlideRight">
        <h2 class="service-title">Database Management</h2>
        <p class="service-description">
          Designing and managing databases with MySQL or other database
          systems for efficient data storage.
        </p>
      </div> -->
    </div>
  </section>