

<section id="projects" class="projects">
    <h2 class="heading"><span>Projects</span></h2>
    <div class="project hidden">
      <figure class="image">
        <img src="../src/images/quizkosh.png" />
      </figure>
      <div class="description">
        <h2>Quizkosh Web App</h2>
        <p>
          Full Stack Web App to create your own test and also attempt
          available test
        </p>
        <p>
          <span class="tool">React</span><span class="tool">Nodejs</span
          ><span class="tool">Mongodb</span>
        </p>

        <div class="btns">
          <a
            href="https://keen-lokum-279032.netlify.app/"
            class="btn"
            target="_blank"
            >Live</a
          >
          <a
            href="https://github.com/ashuhitman/quizkosh"
            class="btn"
            target="_blank"
            >Code <i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="project hidden">
      <figure class="image">
        <img src="../src/images/shoprecorder.png" />
      </figure>
      <div class="description">
        <h2>ShopRecorder Mobile App</h2>
        <p>
          Developed an android app using flutter framework to keep record of
          time and prices for the mobile whole sale shop
        </p>
        <p>
          <span class="tool">Flutter</span> <span class="tool">SQLite</span>
        </p>
        <div class="btns">
          <a
            href="https://www.youtube.com/watch?v=9h9h6r_Ozak"
            class="btn"
            target="_blank"
            >Live</a
          >
          <a
            href="https://github.com/ashuhitman/ShopRecorder"
            class="btn"
            target="_blank"
            >Code <i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="project hidden">
      <figure class="image">
        <img src="../src/images/library.png" />
      </figure>
      <div class="description">
        <h2>Libray User Tracker</h2>
        <p>Tracks no of users check in and checked-out in library</p>
        <p>
          <span class="tool">React</span><span class="tool">Nodejs</span
          ><span class="tool">MySQL</span>
        </p>
        <div class="btns">
          <a
            href="https://libraryusertracker.netlify.app/"
            class="btn"
            target="_blank"
            >Live</a
          >
          <a
            href="https://github.com/ashuhitman/LibraryUserTrackerUI"
            class="btn"
            target="_blank"
            >Code <i class="fab fa-github"></i
          ></a>
        </div>
      </div>
    </div>
  </section>