---
import { getCollection } from 'astro:content';
import Project from './project.astro';

const projects = await getCollection('projects');


---

<section id="projects" class="projects">

    <h2 class="heading"><span>Projects</span></h2>

    {projects.map(project => <Project project={project}/>)}

  </section>