<section id="contact" class="contact">
    <h2 class="heading hiddenFadeIn"><span>Contact Me</span></h2>
    <p class="hiddenFadeIn">
      Get in touch or shoot me an email directly on
      <b>sk2562446@gmail.com</b>
    </p>
    <form class="hidden" onsubmit="sendEmail(event)">
      <div class="form-group">
        <input id="name" type="text" placeholder="Enter Your Name" />
      </div>
      <div class="form-group">
        <input id="" type="text" placeholder="Enter Your Email" />
      </div>
      <div class="form-group">
        <textarea  placeholder="Your Message"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Send Message</button>
      </div>
    </form>
  </section>