<header class="nav">
    <nav>
      <ul>
        <li class="logo">ğ–˜ğ–†ğ–‘ğ–†ğ–’ğ–†ğ–“</li>
      </ul>
      <ul>
        <li class="menu-icon"><i class="fa-solid fa-bars"></i></li>
      </ul>

      <ul class="right-nav">
        <li><a href="#home" class="link">Home</a></li>
        <li><a href="#projects" class="link">Projects</a></li>
        <li><a href="#services" class="link">Services</a></li>
        <li><a href="#contact" class="link">Contact Me</a></li>
      </ul>
    </nav>
  </header>